.App {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  min-height: 91vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
    width: 100%;
    position:fixed;
    bottom:0;
}

.container
{
    min-height: 70%;
    min-height: -webkit-calc(100% - 30px);
    min-height: -moz-calc(100% - 30px);
    min-height: calc(100% - 30px);
}

.home__button {
  padding-right: 10px;
  padding-left: 10px;
}

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.App-logo {
  /*height: 40vmin;*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home__body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}

.home__body > img {
  object-fit: contain;
  height: 100px;
}

.home__inputContainer {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

